.site{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.carousel {
    width: 300px;
    height: 300px;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBg);
    border-radius: 20px;
}

.swiper__img {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--lightBg);
    border-radius: 20px;
    object-fit: contain;
}

.swiper__video {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
    border-radius: 20px;
    object-fit: contain;
}

.swiper-pagination-bullet-active{
    background-color: var(--green) !important;
}
.swiper-button-next,
.swiper-button-prev{
    background-color: transparent;
    color: var(--green) !important;
    border: none;
}

.swiper-pagination{
    z-index: 10000;
}

.site__text-box{
    width: 100%;
    max-width: 450px;
    display: grid;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    text-align: right;
}

.site__title-box{
    display: inline-block;
}

.site__title{
    display: inline-block;
    font-size: 30px;
    color: var(--green);
    transition: 0.4s;
}

.site__text{
    font-size: 18px;
    color: var(--dark);
}

.site__content{
    font-weight: 400;
    font-size: 16px;
    color: var(--dark);
    opacity: 0.8;
}

.site__btn-wrap{
    max-width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px 20px;
    flex-wrap: wrap;
    margin-left: auto;
}

.no-btn{
    text-decoration: line-through;
    cursor: not-allowed;
    background-color: var(--green);
}

.no-btn:hover{
    letter-spacing: 1px;
}